@{
    ViewBag.Title = "knockoutApp2 Version Notes";
}
<h3>@ViewBag.Message</h3>

<p>
    <ul>
        <li><span>App Name: Knockout App r2</span></li>
        <li><span>Version 1.0.01</span></li>
        <li><span>Release Date: Feb 01, 2016</span></li>
        <li><span>App Scope - Mobile Devices</span></li>
    </ul>
</p>