@{
    ViewBag.Title = "Contact Information";
}
<h3>@ViewBag.Message</h3>

<address>
    Pakera GIS Corporation<br />
    One Pakera Way<br />
    Corona, CA 92879-7701<br />
    <abbr title="Phone">P:</abbr>
    323.313.3716
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:nelsonrj@hotmail.com">support@pakeraGIS.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:nelsonrj@hotmail.com">Marketing@pakeraGIS.com</a>
</address>